@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
}

a {
  color: var(--el-color-primary);
}

.el-table__cell p {
  margin: 0;
  font-size: 90%;
  line-height: 1.2em;
}

table.markup-table {
  border-collapse: collapse;
  thead {
    // color: var(--el-table-header-text-color);
    color: #909399;
  }
  th,
  td {
    border: 0.8px solid #ebeef5;
    padding: 4px 12px;
  }
  th {
    background: var(--el-fill-color-light);
  }
}

.el-form-item {
  margin-bottom: 8px !important;
}

.content .el-form {
  max-width: 800px;
}
